/* line 1, ../sass/main.scss */
.tweets-container {
  width: 960px;
}

/* line 6, ../sass/main.scss */
.twitter-list {
  width: 50%;
  font-family: sans-serif, Arial;
  color: #333;
}

/* line 13, ../sass/main.scss */
.tweet {
  list-style: none;
  padding: 2%;
  border: 1px solid #b4f4f4;
  margin-bottom: 1%;
}
/* line 18, ../sass/main.scss */
.tweet h5 {
  margin-bottom: 5px;
  margin-top: 0;
}
