.tweets-container{
	width: 960px;

}

.twitter-list {
	width: 50%;
	font-family: sans-serif, Arial;
	color: #333;

}

.tweet {
    list-style: none;
    padding: 2%;
    border: 1px solid #b4f4f4;
    margin-bottom: 1%;
    h5{
    	margin-bottom: 5px;
    	margin-top: 0;
    }
}



